env/
Week 5/data/articles1.csv
to_email.zip
to_email/FInal/data/master.csv
to_email/FInal/data/master.xlsx
to_email/FInal/resources/suicide-dataset-analysis.ipynb
to_email/Week 6/.ipynb_checkpoints/Kinney_DSC550_Titanic_Part_1-checkpoint.ipynb
to_email/Week 6/chatbot/.ipynb_checkpoints/chatbot-checkpoint.ipynb
to_email/Week 6/chatbot/chatbot.ipynb
to_email/Week 6/data/train.csv
to_email/Week 6/Kinney_DSC550_Titanic_Part_1.ipynb
to_email/Week 6/Kinney_DSC550_Titanic_Part_1.log
to_email/Week 6/resources/week-6/master.csv.zip
to_email/Week 6/resources/week-6/Prob 11_1 Sample Code.docx
to_email/Week 6/resources/week-6/Prob 11_2 Sample Code.docx
to_email/Week 6/resources/week-6/Prob 11_8 Sample Code.docx
to_email/Week 6/resources/week-6/suicide-dataset-analysis.ipynb
to_email/Week 6/resources/week-6/Titanic Project Tutorial Part 1 Instructions_.docx
to_email/Week 6/resources/week-6/Titanic Tutorial Part 1 - SampleCode_.docx
